* {
    transition: all 0.3s;
}

@property --angle {
    initial-value: 0deg;
    inherits: false;
}

@keyframes border-rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#qrcode-canvas {
    border: 4px solid;
    border-image-slice: 1;
}

#alternate-design-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: #1c1c1e;

    canvas {
        width: 50%;
        position: absolute;
        top: 38.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 5px;
    }

    #close-alternate-design {
        position: absolute;
        top: 8%;
        right: 0;
        cursor: pointer;
        width: 15vw;
        height: 15vw;
    }

    #fake-zappsy {
        position: absolute;
        top: 75.5%;
        left: 16%;
        color: #1cba5b;
        font-size: 0.6rem;
        font-family: system-ui, -apple-system, sans-serif;
    }

    #coin {
        width: 15%;
        position: absolute;
        top: 38.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1vw solid white;
    }
}